
<div class="mt-4">
    <h2>
        <a href="menu/addmenu" class="badge badge-success">Add Menu</a>
    </h2>
</div>
<div class="mt-3">
    <div class="row">
        {{#each menus}}
        <div class="card" style="width: 18rem;">
            <a href="/menu/{{this.name}}">
                <img src="{{this.image}}" class="card-img-top" alt="...">
            </a>
            <div class="card-body">
                <h4 class="card-title">{{this.name}}</h4>
                <p class="menu-prices">{{this.type}} - {{this.prices}}$</p>
                <p class="card-text">{{this.details}}</p>
                <a href="/menu/{{this.name}}" class="btn btn-primary">Go Details</a>
                <button type="button" class="btn btn-outline-primary " id="order-btn">Order</button>
            </div>
        </div>
        {{/each}}
    </div>
</div>