<div class="m-4 p-4 cta">
        <table class="table table-info ">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Details</th>
                <th scope="col"></th>
                <th scope="col"></th>
                </tr>
            </thead>
            {{#each menus}}
                <tbody>
                    <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.type}}</td>
                    <td>{{this.details}}</td>
                    <td><a href="/menu/{{this._id}}/edit" type="button" class="text-black" href="" name="edit">Edit</a></td>
                    <td><button class="text-danger shadow" type="button" 
                            name="delete" 
                            data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-modal">
                                Delete
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                </svg>
                                </button>
                            </td>
                    </tr>
                </tbody>
            {{/each}}
    </table>
</div>
{{!-- Order hidden form --}}
<form name="delete-hidden-form" method="POST" action="/menu/{{menus._id}}?_method=DELETE"></form>

{{!-- Confirm Order --}}
<div class="modal" tabindex="-1" id="delete-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Check</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to destroy this one?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="btn-delete">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var menuId;
        var deleteHiddenForm = document.forms['delete-hidden-form'];
        var deleteBtn = document.getElementById('btn-delete');
        

        $('#delete-modal').on('show.bs.modal', function(event) {
            var button = $(event.relatedTarget);
            menuId = button.data('id');
        });

        deleteBtn.onclick = function() {
           deleteHiddenForm.action = '/menu/' + menuId + '?_method=DELETE';
           deleteHiddenForm.submit();
        }
    });
</script>

